<!DOCTYPE html>
<html ng-app="movieApp">

<head>
    <meta charset="utf-8">
    <title>Movie lab</title>
    <link type="text/css" rel="stylesheet" href="../public/styles/style.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <script src="../public/scripts/app.js"></script>
</head>

<body>
    <div ng-controller="MovieController as movies" ng-init="limit = 5">
        <form ng-submit="movies.submit(newMovie)">
            <input type="text" name="newMovie" ng-model="newMovie"/>
            <input type="submit" name="addNew" value="Add" />
        </form>
        <ng-pluralize count="movies.moviesToWatch.length" when="{
        '0': 'No movies to watch! :(',
        '1': 'There is 1 movie to watch',
        'other': 'There are {} movies to watch'}">
        </ng-pluralize>
        <div class="" ng-repeat="movie in movies.moviesToWatch | orderBy:'-title' | limitTo: limit">
            <hr>
            <div><img class="moviePicture" src="{{movie.moviePicture}}"/></div>
            <button ng-click="movies.randomPic(movie)">Next Picture</button>
            <p class="movieTitle">{{movie.title}}</p><span id="trash" ng-click="movies.deleteMovie(movie)"><img src="../public/images/trashIcon.png"/></span>
            <p>{{movie.genre}}</p>
        </div>
        <a ng-click="limit = movies.moviesToWatch.length" href="#">Show more</a>
    </div>
</body>

</html>
